.searchContainer {
  position: relative;
  margin-left: 10px;
}

.searchInput {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-border-radius);
  padding: 5px 10px;
  width: 200px;
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--ifm-background-color);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-border-radius);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.searchResults li {
  padding: 8px 10px;
  cursor: pointer;
}

.searchResults li:hover {
  background-color: var(--ifm-hover-background-color);
}